  .jumbotron.jumbotron-fluid
    .container.text-center
      h1.display-4 Poppin Tweets
      p.lead
        | The place where you can go to find the most poppin tweets of the week, with a nice little giphy as an add-on
